html, body {
    background: rgb(26, 116, 12);
    font-family: Century Gothic, sans-serif;
    background-image: url("../res/background.jpg");
    background-size: cover;
}

#main {
    width: 40%;
    margin: auto;
}

a {
    position: relative;
    display: table;
    text-align: center;
    margin: auto;
    font-size: 35px;
    color: white;
    -webkit-text-fill-color: rgb(233, 255, 0);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
}

h1 {
    font-size: 55px;
    text-align: center;
    color: white;
    -webkit-text-fill-color: rgb(191, 138, 24);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2 {
    font-size: 45px;
    text-align: center;
    color: white;
    -webkit-text-fill-color: rgb(63, 168, 204);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


#fancyButton {
    height: 30px;
    width: 200px;
    float: left;
    margin: auto;
    background-color: rgb(30,175,255);
    color: white;
    border: none;
    border-radius: 7.5px;
    text-align: center;
    font-size: 16px;
}

