html, body {
    background: rgb(26, 116, 12);
    font-family: Century Gothic, sans-serif;
    background-image: url("../res/background.jpg");
    background-size: cover;
}

#people {
    width: 16%;
    margin: auto;
    border: solid;
    border-color:white;
}


#bill {
    
    margin-top: 50px;
    width: 16%;
    margin: auto;
    border: solid;
    border-color:red;
}

h1 {
    font-size: 55px;
    text-align: center;
    color: white;
    -webkit-text-fill-color: rgb(191, 138, 24);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2 {
    font-size: 45px;
    text-align: center;
    color: white;
    -webkit-text-fill-color: rgb(63, 168, 204);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.fancyButton {
    float: left;
    margin: auto;
    background-color: rgb(63, 168, 204);
    color: white;
    border: none;
    border-radius: 7.5px;
    text-align: center;
    font-size: 16px;
}

.billItem {
    background-color: #eeeeee;
}
